@page
@model PetersonCommonDataService.Pages.AuthorizeModel
@{
    ViewData["Title"] = "Authorize";
}

<h1>Authorize</h1>

<p>
    <a class="btn btn-primary" href="/Authorize?handler=SignIn">Sign in with Azure AD</a>
</p>